:root{
    --pr-color :#43020D;
    --scnd-color:
}



*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.nav-item a{
    font-size:16px;
}

.mynavbar{
    background-image: url(asset/freepik-export-20240722141145Rf9C.png);
    /* background-position: cente */
    background-size: cover;
    background-repeat: no-repeat;
}

#home{
    background: linear-gradient(155deg,var(--pr-color),#141313);
    height: 100vh;
    width: 100%;
}
.image-home{
    width: 45%;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0;
}
.home-tagline h1{
    color: white;
    margin-top: 50px;
    font-weight: 700;
    line-height: 50px;
}
.home-tagline p{
    color: white;
    margin-top: 30px;
    margin-bottom: 50px;
}
.home-button {
    border: none;
    padding: 10px;
    border-radius: 10px;
    color: black;
    width: 150px;
    transition: .2s ease-in-out;
}

.home-button:hover{
    background-color:#631616;
    color: white;
}

.about{
    margin-top: 30px;
    background-image: url(asset/freepik-export-20240722141145Rf9C.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.third-page {
    background-image: url(asset/image\ 3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }
  .fourth-page{
    background-image: url(asset/Unit.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }

  .footer {
    background-image: url(asset/freepik-export-20240722141145Rf9C.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .container1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.row1 {
    display: flex;
    width: 100%;
    justify-content: center;
}

.col1 {
    flex: 1;
    max-width: 50%;
    padding: 10px;
}

.image-container {
    text-align: center;
}

.text-center1 {
    margin-bottom: 10px;
}

.img-fluid1 {
    width: 100%;
    height: auto;
    display: block;
}